.row
  .col-md-6
    .panel.panel-default
      .panel-heading Description
      %ul.list-group
        %li.list-group-item
          This is an
          %strong iOS7
          App.
        %li.list-group-item
          The source code is on github: 
          %a{:href => "https://github.com/DengJinqiu/taffy"} Github Repository.
  .col-md-6
    .panel.panel-default
      .panel-heading Author
      .panel-body
        Jinqiu Deng
.row
  .col-md-6
    .panel.panel-default
      .panel-heading Screen Shot
      .panel-body
        #carousel-generic.carousel.slide
          <!-- Indicators -->
          %ol.carousel-indicators
            %li.active{"data-target" => "#carousel-generic", "data-slide-to" => "0"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "1"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "2"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "3"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "4"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "5"}

          <!-- Wrapper for slides -->
          .carousel-inner
            .item.active
              %img{"src" => "/images/ios_app/ios_app_1.png", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/ios_app/ios_app_2.png", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/ios_app/ios_app_3.png", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/ios_app/ios_app_4.png", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/ios_app/ios_app_5.png", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/ios_app/ios_app_6.png", "alt" => "..."}
              .carousel-caption

          <!-- Controls -->
          %a.left.carousel-control{:href => "#carousel-generic", "data-slide" => "prev"}
            %span.icon-prev
          %a.right.carousel-control{:href => "#carousel-generic", "data-slide" => "next"}
            %span.icon-next
  .col-md-6
    .panel.panel-default
      .panel-heading Video Shot
      .panel-body
        %iframe{:width => "100%", :height => "auto", :src => "//www.youtube.com/embed/llu7WK3nmGg", :frameborder => "0", :allowfullscreen => true}
