<h1>Objective C Class</h1>

<p>The <a href="https://developer.apple.com/library/mac/documentation/cocoa/Reference/Foundation/Classes/NSObject_Class/Reference/Reference.html">NSObject protocol</a> groups methods that are fundamental to all Objective-C objects, features including: class type, responding message, retain and release.</p>

<h1>Objective C Memory Management</h1>

<p><a href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/MemoryMgmt/Articles/MemoryMgmt.html">Advanced Memory Management Programming Guide</a></p>

<h3>Two methods of application memory management</h3>

<ol>
<li>MRR, manual retain-release</li>
<li>ARC, automatic reference counting</li>
</ol>

<h3>Two problems</h3>

<ol>
<li>Freeing data in use</li>
<li>Not freeing data that is no longer in use</li>
</ol>

<h3>MRR, manual retain-release</h3>

<ol>
<li>Two ways to create an object:
<ul><li>“alloc”, “new”, “copy”, or “mutableCopy”, own this object.</li>
<li>Other method, autorelease</li></ul></li>
<li>Take ownership of an object by retain.</li>
<li>Relinquish ownership, by release, autorelease(stay valid until at least the end of the scope that it was called in), send dealloc message if counts equals to zero.</li>
<li>retain, release and autorelease are defined in the NSObject Protocol.</li>
</ol>

<h3>ARC, automatic reference counting</h3>

<p><a href="https://developer.apple.com/library/mac/releasenotes/ObjectiveC/RN-TransitioningToARC/Introduction/Introduction.html">Transitioning to ARC Release Notes</a></p>

<ul>
<li><p>Four qualifiers for object pointers, the two important are strong and weak. Strong reference will retain object, week will not. When strong get out of scope, release will be called. Strong property is the same, but when this object is deallocated, release will be called.</p></li>
<li><p>Autoreleasing is used for multiple returns by pointers. It likes the strong pointer, but will hold the result after the function return.</p></li>
</ul>

<h3>Practical Tips</h3>

<ul>
<li><p>Do not need to worry about class method like <strong>[NSString stringWithFormat:]</strong>, because they are using autorelease to return an object.</p></li>
<li><p>Dealloc is never called manually. Only called by <strong>[Super dealloc]</strong>.</p></li>
<li><p>For Property, you must declare the ownership of it, either by alloc it or retain it.</p></li>
<li><p>Use set accessor as many as possible.</p></li>
<li><p>Do not use accessor methods in initializer and dealloc</p>

<ul><li>B extends A, but if accessor is used in A, it could be override in B, which means that the methods of B is called before B is initialized. The same for dealloc, method of B will be called after B disappeared.</li></ul></li>
<li><p>Use week reference to avoid memory cycle. The reference is week unless using retain.</p></li>
<li><p>Be carefully when releasing the parent or collection of an object.</p></li>
<li><p>Collections automatically call retain and release.</p></li>
</ul>

<h3>Autorelease Pool Blocks</h3>

<ul>
<li><p>release called when get out of this block.</p></li>
<li><p>AppKit and UIKit frameworks process each event-loop iteration within an autorelease pool block.</p></li>
<li><p>Could add custom autorelease pool block</p></li>
</ul>

<h1>Constructor</h1>

<p>Constructor should not be override, since it should be the duty of this class to construct its objects, not the sub-classes' duty.</p>

<h3>Objective C</h3>

<p><strong>[[Class alloc] init]</strong> alloc some memory on the heap and init it, two problems:</p>

<ol>
<li>A sub-class always need to call the constructor of the super-class. Easy to forget.</li>
<li>Always return an instance of this class. Repeat it everywhere. Could use <strong>instancetype</strong>.</li>
</ol>

<h3>Java</h3>

<ol>
<li>Give a default, no-parameter constructor to every class, sub-class automatically call default super constructor. But if you define a custom constructor, the default one will be removed, and sub-class need to call <strong>super(...)</strong>.</li>
<li>No return for constructors in Java.</li>
</ol>

<h1>Static Binding or Dynamic Binding</h1>

<ul>
<li>Static binding => compile time</li>
<li>Dynamic binding => runtime</li>
</ul>

<h1>Unicode</h1>

<p>Using 2 bytes to store one character, this is called <strong>code point</strong>. We usually use 4 hexadecimal number to represent it, U+xxxx. UTF-8 is one way to encoding Unicode into bits, code point from 0-127 is stored in single byte.</p>

<h1>LeetCode Round 2</h1>

<h3>02/12/2014</h3>
<h3>02/12/2014</h3>

<ul>
<li>Valid Palindrome</li>
<li>Remove Nth Node From End of List</li>
<li>Unique Binary Search Trees II</li>
<li>Combinations</li>
</ul>
