<h1>Objective C Memory Management</h1>

<p><a href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/MemoryMgmt/Articles/MemoryMgmt.html">Official documents</a></p>

<p>Two methods of application memory management:</p>

<ol>
<li>MRR, manual retain-release</li>
<li>ARC, automatic reference counting</li>
</ol>
