.row
  .col-md-6
    .panel.panel-default
      .panel-heading Description
      %ul.list-group
        %li.list-group-item
          This is a website database Built by
          %strong Ruby on Rails.
        %li.list-group-item
          The demo is here:
          %a{:href => "http://jinqiu-deng-rails-database.herokuapp.com/"} Demo.
        %li.list-group-item
          The source code is on github: 
          %a{:href => "https://github.com/yifange/caramel"} Github Repository.
  .col-md-6
    .panel.panel-default
      .panel-heading Author
      .panel-body
        Yifan Ge, Dongye Shen, Shuya Chu, Jinqiu Deng
.row
  .col-md-6
    .panel.panel-default
      .panel-heading Screen Shot
      .panel-body
        #carousel-generic.carousel.slide
          <!-- Indicators -->
          %ol.carousel-indicators
            %li.active{"data-target" => "#carousel-generic", "data-slide-to" => "0"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "1"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "2"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "3"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "4"}
            %li{"data-target" => "#carousel-generic", "data-slide-to" => "5"}

          <!-- Wrapper for slides -->
          .carousel-inner
            .item.active
              %img{"src" => "/images/rails_website/rails_website_1.jpg", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/rails_website/rails_website_2.jpg", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/rails_website/rails_website_3.jpg", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/rails_website/rails_website_4.jpg", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/rails_website/rails_website_5.jpg", "alt" => "..."}
              .carousel-caption
            .item
              %img{"src" => "/images/rails_website/rails_website_6.jpg", "alt" => "..."}
              .carousel-caption

          <!-- Controls -->
          %a.left.carousel-control{:href => "#carousel-generic", "data-slide" => "prev"}
            %span.icon-prev
          %a.right.carousel-control{:href => "#carousel-generic", "data-slide" => "next"}
            %span.icon-next
  .col-md-6
    .panel.panel-default
      .panel-heading Video Shot
      .panel-body
        %iframe{:width => "100%", :height => "auto", :src => "//www.youtube.com/embed/G1Pu7NzXfDo?feature=player_detailpage", :frameborder => "0", :allowfullscreen => true}
