- content_for :main do
  .row
    .col-md-12
      .jumbotron
        .container
          %h1
            Hello, this is Jinqiu Deng's website.
          %p
            This is a website to show the projects I worked on.
            %br
            Currently it contains three projects, 
            %a{:href => "pages/1"} Android Game, 
            %a{:href => "pages/2"} iOS App, 
            %a{:href => "pages/3"} Rails Website.
          %p
            %a.btn.btn-primary.btn-lg{:href => "http://www.linkedin.com/pub/jinqiu-deng/65/a56/a78"}
              My Linkedin
