- content_for :main do
  - if params[:id] == "1"
    = render 'zombie_attack'
  - elsif params[:id] == "2"
    = render 'ios_app'
  - elsif params[:id] == "3"
    = render 'rails_website'
  - else
    = render 'preparing_interview_wrapper'
